<body>
<nav class="navbar navbar-light fixed-top" style="background-color: #253f56; height: 5em;  z-index: 3; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <a class="navbar-brand" style="width: 100%; z-index: 4;">
    <img src="assets/iliovasilema_logo_white.png" class="logo fixed-top" alt="iliovasilema_logo">
    <marquee behavior="scroll" direction="left" style="color: aliceblue; font-family: Arial; font-size: 20px; margin-left: 10px">Ενοικιαζόμενα Δωμάτια, Θάνος - Λήμνος, τηλ. 2254022838 (Δωμάτια), 2254023496 (Κατοικία), 6973710543 (Kινητό), theodorosligdas@gmail.com </marquee>
  </a>
</nav>

<div class="container-fluid" >
  <div class="row">
    <div class="col-3">
      <div class="container-fluid">

        <div class="row" *ngIf="errorHttp == true">
          <mdb-card style="margin-top: 30%; width: 27em; height: 20em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
            <mdb-card-body class="image_body">
              <h1 style="color: aliceblue">Oops!</h1>
            </mdb-card-body>

            <mdb-card-footer style="height: 10em; padding: 25px">
              <img src="../assets/fail.png" class="center" style="width: 9em">
            </mdb-card-footer>
          </mdb-card>
        </div>

        <div class="row" *ngIf="lang == 'gr' && errorHttp == false">
          <mdb-card style="margin-top: 30%; width: 27em; height: 20em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
            <mdb-card-body class="image_body">
              <div class="container-fluid">
                <div class="row" >
                  <div class="col-2">
                    <img src={{icons[0]}} style="width: 6em">
                  </div>
                  <div class="col-10" style="text-align: right">
                    <h3 style="font-size: 25px; color: aliceblue">{{weather.list[0].weather[0].description}}</h3>
                    <h1 style="color: aliceblue; font-size: 40px">{{(weather.list[0].main.temp + "").split('.')[0]}}&#8451;</h1>
                    <h3 style="font-size: 25px; color: aliceblue">{{weather.list[0].dt_txt.split('-')[2].split(' ')[0] + "/"
                    + weather.list[0].dt_txt.split('-')[1] + " " + weather.list[0].dt_txt.split('-')[2].split(' ')[1].split(':')[0]
                    + ":" + weather.list[0].dt_txt.split('-')[2].split(' ')[1].split(':')[1]}}</h3>

                  </div>
                </div>
              </div>
            </mdb-card-body>

            <mdb-card-footer style="height: 10em; padding: 25px">
              <div class="row">
                <div class="col-6">
                  <h3 style="font-size: 25px; color: #60707a; text-align: left">Υγρασία:</h3>
                </div>
                <div class="col-6" style="text-align: right">
                  <h3 style="font-size: 25px; color: #60707a;text-align: right">{{weather.list[0].main.humidity + "%"}}</h3>
                </div>

              </div>

              <div class="row">
                <div class="col-6">
                  <h3 style="font-size: 25px; color: #60707a; text-align: left">Άνεμος:</h3>
                </div>
                <div class="col-6" style="text-align: right">
                  <h3 style="font-size: 25px; color: #60707a;text-align: right">{{weather.list[0].wind.speed + " Bf"}}</h3>
                </div>
              </div>

              <div class="row">
                <div class="col-8">
                  <h3 style="font-size: 25px; color: #60707a; text-align: left">Κατεύθυνση ανέμου:</h3>
                </div>
                <div class="col-4" style="text-align: right">
                  <h3 style="font-size: 25px; color: #60707a;text-align: right">{{weather.list[0].wind.deg}}</h3>
                </div>
              </div>

            </mdb-card-footer>
          </mdb-card>
        </div>

        <div class="row" *ngIf="lang == 'en' && errorHttp == false">
          <mdb-card style="margin-top: 30%; width: 27em; height: 20em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
            <mdb-card-body class="image_body">
              <div class="container-fluid">
                <div class="row" >
                  <div class="col-2">
                    <img src={{icons[0]}} style="width: 6em">
                  </div>
                  <div class="col-10" style="text-align: right">
                    <h3 style="font-size: 25px; color: aliceblue">{{weather_en.list[0].weather[0].description}}</h3>
                    <h1 style="color: aliceblue; font-size: 40px">{{(weather_en.list[0].main.temp + "").split('.')[0]}}&#8451;</h1>
                    <h3 style="font-size: 25px; color: aliceblue">{{weather_en.list[0].dt_txt.split('-')[2].split(' ')[0] + "/"
                    + weather_en.list[0].dt_txt.split('-')[1] + " " + weather_en.list[0].dt_txt.split('-')[2].split(' ')[1].split(':')[0]
                    + ":" + weather_en.list[0].dt_txt.split('-')[2].split(' ')[1].split(':')[1]}}</h3>

                  </div>
                </div>
              </div>
            </mdb-card-body>

            <mdb-card-footer style="height: 10em; padding: 25px">
              <div class="row">
                <div class="col-6">
                  <h3 style="font-size: 25px; color: #60707a; text-align: left">Humidity:</h3>
                </div>
                <div class="col-6" style="text-align: right">
                  <h3 style="font-size: 25px; color: #60707a;text-align: right">{{weather_en.list[0].main.humidity + "%"}}</h3>
                </div>

              </div>

              <div class="row">
                <div class="col-6">
                  <h3 style="font-size: 25px; color: #60707a; text-align: left">Wind:</h3>
                </div>
                <div class="col-6" style="text-align: right">
                  <h3 style="font-size: 25px; color: #60707a;text-align: right">{{weather_en.list[0].wind.speed + " Bf"}}</h3>
                </div>
              </div>

              <div class="row">
                <div class="col-8">
                  <h3 style="font-size: 25px; color: #60707a; text-align: left">Wind direction:</h3>
                </div>
                <div class="col-4" style="text-align: right">
                  <h3 style="font-size: 25px; color: #60707a;text-align: right">{{weather_en.list[0].wind.deg}}</h3>
                </div>
              </div>

            </mdb-card-footer>
          </mdb-card>
        </div>


        <div class="row">
          <mdb-card style="margin-top: 7%; width: 27em; height: 33em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
            <mdb-card-title class="card-header text-center" style="font-family: Arial; font-size: 25px; color: #39474f; font-weight: bold">
              Δρομολόγια Πλοίων <br> Ship Timetables
            </mdb-card-title>
            <mdb-card-body>

              <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [isControls]="false" style="width:100%;">
                <mdb-carousel-item *ngFor="let slide of dromologia_total; let i = index">

                  <div class="container-fluid">
                    <div class="row">
                      <p style="font-weight: bold; font-size: 20px">{{area[i]}}</p>
                    </div>
                    <hr style="border-top: 1px double #39474f;">
                    <div class="row" *ngIf="i <= 10" style="width: 100%">
                      <div class="col-4">
                        <p style="font-size: 17px">Ημέρα</p>
                      </div>
                      <div class="col-4">
                        <p style="font-size: 17px; width: 100%">Αναχώρηση</p>
                      </div>
                      <div class="col-4">
                        <p style="font-size: 17px">Άφιξη</p>
                      </div>
                    </div>
                    <div class="row" *ngIf=" i > 10" style="width: 100%">
                      <div class="col-4">
                        <p style="font-size: 17px">Date</p>
                      </div>
                      <div class="col-4">
                        <p style="font-size: 17px">Departure</p>
                      </div>
                      <div class="col-4">
                        <p style="font-size: 17px">Arrival</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row" *ngFor="let dromologio of slide">
                      <div class="col-4">
                        <p style="font-size: 18px">{{dromologio.split(' ')[0]}}</p>
                      </div>
                      <div class="col-4">
                        <p style="font-size: 18px">{{dromologio.split(' ')[1]}}</p>
                      </div>
                      <div class="col-4">
                        <p style="font-size: 18px">{{dromologio.split(' ')[2]}}</p>
                      </div>
                      <hr>
                    </div>
                  </div>

                </mdb-carousel-item>
              </mdb-carousel>

            </mdb-card-body>

          </mdb-card>

        </div>
      </div>
    </div>


    <div class="col-9">


      <div class="container-fluid">
        <div class="row">

          <div class="col-3" *ngIf="errorHttp == true">

            <mdb-card style="margin-top: 50%; z-index: 1; width: 18em; height: 14em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
              <mdb-card-body class="image_body_small">
                <h1 style="color: aliceblue">Oops!</h1>

              </mdb-card-body>

              <mdb-card-footer style="height: 8em; padding: 25px;">
                <img src="../assets/fail.png" class="center" style="width: 7em">

              </mdb-card-footer>
            </mdb-card>

          </div>

          <div class="col-3" *ngIf="lang == 'gr' && errorHttp == false">
          <mdb-card style="margin-top: 50%; z-index: 1; width: 18em; height: 14em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
            <mdb-card-body class="image_body_small">
              <div class="container-fluid">
                <div class="row" >
                  <div class="col-2">
                    <img src={{icons[1]}} style="width: 3em">
                  </div>
                  <div class="col-10" style="text-align: right">
                    <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_gr[0].weather[0].description}}</h3>
                    <h1 style="color: aliceblue; font-size: 20px; margin: 0px">{{(next_days_weather_gr[0].main.temp + "").split('.')[0]}}&#8451;</h1>
                    <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_gr[0].dt_txt.split('-')[2].split(' ')[0] + "/"
                    + next_days_weather_gr[0].dt_txt.split('-')[1] + " " + next_days_weather_gr[0].dt_txt.split('-')[2].split(' ')[1].split(':')[0]
                    + ":" + next_days_weather_gr[0].dt_txt.split('-')[2].split(' ')[1].split(':')[1]}}</h3>

                  </div>
                </div>
              </div>
            </mdb-card-body>

            <mdb-card-footer style="height: 8em; padding: 25px">
              <div class="row">
                <div class="col-6">
                  <h3 style="font-size: 18px; color: #60707a; text-align: left">Υγρασία:</h3>
                </div>
                <div class="col-6" style="text-align: right">
                  <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_gr[0].main.humidity + "%"}}</h3>
                </div>

              </div>

              <div class="row">
                <div class="col-6">
                  <h3 style="font-size: 18px; color: #60707a; text-align: left">Άνεμος:</h3>
                </div>
                <div class="col-6" style="text-align: right">
                  <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_gr[0].wind.speed + " Bf"}}</h3>
                </div>
              </div>


              <div class="row">
                <div class="col-8">
                  <h3 style="font-size: 18px; color: #60707a; text-align: left">Κατεύθυνση ανέμου:</h3>
                </div>
                <div class="col-4" style="text-align: right">
                  <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_gr[0].wind.deg}}</h3>
                </div>
              </div>

            </mdb-card-footer>
          </mdb-card>
          </div>

          <div class="col-3" *ngIf="lang == 'en' && errorHttp == false">
            <mdb-card style="margin-top: 50%; z-index: 1; width: 18em; height: 14em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
              <mdb-card-body class="image_body_small">
                <div class="container-fluid">
                  <div class="row" >
                    <div class="col-2">
                      <img src={{icons[1]}} style="width: 3em">
                    </div>
                    <div class="col-10" style="text-align: right">
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_en[0].weather[0].description}}</h3>
                      <h1 style="color: aliceblue; font-size: 20px; margin: 0px">{{(next_days_weather_en[0].main.temp + "").split('.')[0]}}&#8451;</h1>
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_en[0].dt_txt.split('-')[2].split(' ')[0] + "/"
                      + next_days_weather_en[0].dt_txt.split('-')[1] + " " + next_days_weather_en[0].dt_txt.split('-')[2].split(' ')[1].split(':')[0]
                      + ":" + next_days_weather_en[0].dt_txt.split('-')[2].split(' ')[1].split(':')[1]}}</h3>

                    </div>
                  </div>
                </div>
              </mdb-card-body>

              <mdb-card-footer style="height: 8em; padding: 25px">
                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Humidity:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_en[0].main.humidity + "%"}}</h3>
                  </div>

                </div>

                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Wind:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_en[0].wind.speed + " Bf"}}</h3>
                  </div>
                </div>


                <div class="row">
                  <div class="col-8">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Wind direction:</h3>
                  </div>
                  <div class="col-4" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_en[0].wind.deg}}</h3>
                  </div>
                </div>

              </mdb-card-footer>
            </mdb-card>
          </div>

          <div class="col-3" *ngIf="errorHttp == true">

            <mdb-card style="margin-top: 50%; z-index: 1; width: 18em; height: 14em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
              <mdb-card-body class="image_body_small">
                <h1 style="color: aliceblue">Oops!</h1>

              </mdb-card-body>

              <mdb-card-footer style="height: 8em; padding: 25px;">
                <img src="../assets/fail.png" class="center" style="width: 7em">

              </mdb-card-footer>
            </mdb-card>

          </div>


          <div class="col-3" *ngIf="lang == 'gr' && errorHttp == false">

            <mdb-card style="margin-top: 50%; z-index: 1; width: 18em; height: 14em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
              <mdb-card-body class="image_body_small">
                <div class="container-fluid">
                  <div class="row" >
                    <div class="col-2">
                      <img src={{icons[2]}} style="width: 3em">
                    </div>
                    <div class="col-10" style="text-align: right">
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_gr[1].weather[0].description}}</h3>
                      <h1 style="color: aliceblue; font-size: 20px; margin: 0px">{{(next_days_weather_gr[1].main.temp + "").split('.')[0]}}&#8451;</h1>
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_gr[1].dt_txt.split('-')[2].split(' ')[0] + "/"
                      + next_days_weather_gr[1].dt_txt.split('-')[1] + " " + next_days_weather_gr[1].dt_txt.split('-')[2].split(' ')[1].split(':')[0]
                      + ":" + next_days_weather_gr[1].dt_txt.split('-')[2].split(' ')[1].split(':')[1]}}</h3>

                    </div>
                  </div>
                </div>
              </mdb-card-body>

              <mdb-card-footer style="height: 8em; padding: 25px">
                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Υγρασία:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_gr[1].main.humidity + "%"}}</h3>
                  </div>

                </div>

                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Άνεμος:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_gr[1].wind.speed + " Bf"}}</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Κατεύθυνση ανέμου:</h3>
                  </div>
                  <div class="col-4" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_gr[1].wind.deg}}</h3>
                  </div>
                </div>

              </mdb-card-footer>
            </mdb-card>
          </div>

          <div class="col-3" *ngIf="lang == 'en' && errorHttp == false">

            <mdb-card style="margin-top: 50%; z-index: 1; width: 18em; height: 14em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
              <mdb-card-body class="image_body_small">
                <div class="container-fluid">
                  <div class="row" >
                    <div class="col-2">
                      <img src={{icons[2]}} style="width: 3em">
                    </div>
                    <div class="col-10" style="text-align: right">
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_en[1].weather[0].description}}</h3>
                      <h1 style="color: aliceblue; font-size: 20px; margin: 0px">{{(next_days_weather_en[1].main.temp + "").split('.')[0]}}&#8451;</h1>
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_en[1].dt_txt.split('-')[2].split(' ')[0] + "/"
                      + next_days_weather_en[1].dt_txt.split('-')[1] + " " + next_days_weather_en[1].dt_txt.split('-')[2].split(' ')[1].split(':')[0]
                      + ":" + next_days_weather_en[1].dt_txt.split('-')[2].split(' ')[1].split(':')[1]}}</h3>

                    </div>
                  </div>
                </div>
              </mdb-card-body>

              <mdb-card-footer style="height: 8em; padding: 25px">
                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Humidity:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_en[1].main.humidity + "%"}}</h3>
                  </div>

                </div>

                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Wind:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_en[1].wind.speed + " Bf"}}</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Wind direction:</h3>
                  </div>
                  <div class="col-4" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_en[1].wind.deg}}</h3>
                  </div>
                </div>

              </mdb-card-footer>
            </mdb-card>
          </div>


          <div class="col-3" *ngIf="errorHttp == true">

            <mdb-card style="margin-top: 50%; z-index: 1; width: 18em; height: 14em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
              <mdb-card-body class="image_body_small">
                <h1 style="color: aliceblue">Oops!</h1>

              </mdb-card-body>

              <mdb-card-footer style="height: 8em; padding: 25px;">
                <img src="../assets/fail.png" class="center" style="width: 7em">

              </mdb-card-footer>
            </mdb-card>

          </div>


          <div class="col-3" *ngIf="lang == 'gr' && errorHttp == false">

            <mdb-card style="margin-top: 50%; width: 18em; z-index: 1; height: 14em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
              <mdb-card-body class="image_body_small">
                <div class="container-fluid">
                  <div class="row" >
                    <div class="col-2">
                      <img src={{icons[3]}} style="width: 3em">
                    </div>
                    <div class="col-10" style="text-align: right">
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_gr[2].weather[0].description}}</h3>
                      <h1 style="color: aliceblue; font-size: 20px; margin: 0px">{{(next_days_weather_gr[2].main.temp + "").split('.')[0]}}&#8451;</h1>
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_gr[2].dt_txt.split('-')[2].split(' ')[0] + "/"
                      + next_days_weather_gr[2].dt_txt.split('-')[1] + " " + next_days_weather_gr[2].dt_txt.split('-')[2].split(' ')[1].split(':')[0]
                      + ":" + next_days_weather_gr[2].dt_txt.split('-')[2].split(' ')[1].split(':')[1]}}</h3>

                    </div>
                  </div>
                </div>
              </mdb-card-body>

              <mdb-card-footer style="height: 8em; padding: 25px">
                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Υγρασία:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_gr[2].main.humidity + "%"}}</h3>
                  </div>

                </div>

                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Άνεμος:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_gr[2].wind.speed + " Bf"}}</h3>
                  </div>
                </div>


                <div class="row">
                  <div class="col-8">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Κατεύθυνση ανέμου:</h3>
                  </div>
                  <div class="col-4" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_gr[2].wind.deg}}</h3>
                  </div>
                </div>

              </mdb-card-footer>
            </mdb-card>
          </div>

          <div class="col-3" *ngIf="lang == 'en' && errorHttp == false">

            <mdb-card style="margin-top: 50%; width: 18em; z-index: 1; height: 14em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
              <mdb-card-body class="image_body_small">
                <div class="container-fluid">
                  <div class="row" >
                    <div class="col-2">
                      <img src={{icons[3]}} style="width: 3em">
                    </div>
                    <div class="col-10" style="text-align: right">
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_en[2].weather[0].description}}</h3>
                      <h1 style="color: aliceblue; font-size: 20px; margin: 0px">{{(next_days_weather_en[2].main.temp + "").split('.')[0]}}&#8451;</h1>
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_en[2].dt_txt.split('-')[2].split(' ')[0] + "/"
                      + next_days_weather_en[2].dt_txt.split('-')[1] + " " + next_days_weather_en[2].dt_txt.split('-')[2].split(' ')[1].split(':')[0]
                      + ":" + next_days_weather_en[2].dt_txt.split('-')[2].split(' ')[1].split(':')[1]}}</h3>

                    </div>
                  </div>
                </div>
              </mdb-card-body>

              <mdb-card-footer style="height: 8em; padding: 25px">
                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Humidity:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_en[2].main.humidity + "%"}}</h3>
                  </div>

                </div>

                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Wind:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_en[2].wind.speed + " Bf"}}</h3>
                  </div>
                </div>


                <div class="row">
                  <div class="col-8">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Wind direction:</h3>
                  </div>
                  <div class="col-4" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_en[2].wind.deg}}</h3>
                  </div>
                </div>

              </mdb-card-footer>
            </mdb-card>
          </div>

          <div class="col-3" *ngIf="errorHttp == true">

            <mdb-card style="margin-top: 50%; z-index: 1; width: 18em; height: 14em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
              <mdb-card-body class="image_body_small">
                <h1 style="color: aliceblue">Oops!</h1>

              </mdb-card-body>

              <mdb-card-footer style="height: 8em; padding: 25px;">
                <img src="../assets/fail.png" class="center" style="width: 7em">

              </mdb-card-footer>
            </mdb-card>

          </div>


          <div class="col-3" *ngIf="lang == 'gr' && errorHttp == false">

            <mdb-card style="margin-top: 50%; width: 18em; height: 14em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
              <mdb-card-body class="image_body_small">
                <div class="container-fluid">
                  <div class="row" >
                    <div class="col-2">
                      <img src={{icons[4]}} style="width: 3em">
                    </div>
                    <div class="col-10" style="text-align: right">
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_gr[3].weather[0].description}}</h3>
                      <h1 style="color: aliceblue; font-size: 20px; margin: 0px">{{(next_days_weather_gr[3].main.temp + "").split('.')[0]}}&#8451;</h1>
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_gr[3].dt_txt.split('-')[2].split(' ')[0] + "/"
                      + next_days_weather_gr[3].dt_txt.split('-')[1] + " " + next_days_weather_gr[3].dt_txt.split('-')[2].split(' ')[1].split(':')[0]
                      + ":" + next_days_weather_gr[3].dt_txt.split('-')[2].split(' ')[1].split(':')[1]}}</h3>

                    </div>
                  </div>
                </div>
              </mdb-card-body>

              <mdb-card-footer style="height: 8em; padding: 25px">
                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Υγρασία:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_gr[3].main.humidity + "%"}}</h3>
                  </div>

                </div>

                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Άνεμος:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_gr[3].wind.speed + " Bf"}}</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Κατεύθυνση ανέμου:</h3>
                  </div>
                  <div class="col-4" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_gr[3].wind.deg}}</h3>
                  </div>
                </div>
              </mdb-card-footer>
            </mdb-card>
          </div>

          <div class="col-3" *ngIf="lang == 'en' && errorHttp == false">

            <mdb-card style="margin-top: 50%; width: 18em; height: 14em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3); border-radius: 10px">
              <mdb-card-body class="image_body_small">
                <div class="container-fluid">
                  <div class="row" >
                    <div class="col-2">
                      <img src={{icons[4]}} style="width: 3em">
                    </div>
                    <div class="col-10" style="text-align: right">
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_en[3].weather[0].description}}</h3>
                      <h1 style="color: aliceblue; font-size: 20px; margin: 0px">{{(next_days_weather_en[3].main.temp + "").split('.')[0]}}&#8451;</h1>
                      <h3 style="font-size: 18px; color: aliceblue; margin: 0px">{{next_days_weather_en[3].dt_txt.split('-')[2].split(' ')[0] + "/"
                      + next_days_weather_en[3].dt_txt.split('-')[1] + " " + next_days_weather_en[3].dt_txt.split('-')[2].split(' ')[1].split(':')[0]
                      + ":" + next_days_weather_en[3].dt_txt.split('-')[2].split(' ')[1].split(':')[1]}}</h3>

                    </div>
                  </div>
                </div>
              </mdb-card-body>

              <mdb-card-footer style="height: 8em; padding: 25px">
                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Humidity:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_en[3].main.humidity + "%"}}</h3>
                  </div>

                </div>

                <div class="row">
                  <div class="col-6">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Wind:</h3>
                  </div>
                  <div class="col-6" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_en[3].wind.speed + " Bf"}}</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-8">
                    <h3 style="font-size: 18px; color: #60707a; text-align: left">Wind direction:</h3>
                  </div>
                  <div class="col-4" style="text-align: right">
                    <h3 style="font-size: 18px; color: #60707a;text-align: right">{{next_days_weather_en[3].wind.deg}}</h3>
                  </div>
                </div>
              </mdb-card-footer>
            </mdb-card>
          </div>
        </div>

        <div class="row d-flex" style="margin-top: 3%;" >

          <div class="col-12 justify-content-center" style="text-align: center;" >
            <h1 class="text-center" style="font-size: 20px; text-align: center; font-family: Arial; color: #253f56" *ngIf="lang=='gr'">{{title_beaches_gr}}</h1>
            <h1 class="text-center" style="font-size: 20px; text-align: center; font-family: Arial; color: #253f56" *ngIf="lang=='en'">{{title_beaches_en}}</h1>
<!--          <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [isControls]="false" style="width:100%;">-->
<!--            <mdb-carousel-item *ngFor="let beach of forecast_beaches; let i = index" style="border-radius: 10px;">-->
<!--              <div class="polaroid">-->
<!--                <img src={{forecast_beaches_images[i]}} [alt]="forecast_beaches_images[i]" style="width:82em; height: 30em; border-top-left-radius: 10px; border-top-right-radius: 10px;">-->
<!--                <div class="container">-->
<!--                  <p style="font-size: 18px">{{beach.name_gr+": "+ beach.description_gr}}</p>-->
<!--                  <p style="font-size: 18px">{{beach.name_eng+": "+beach.description_eng}} </p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </mdb-carousel-item>-->
<!--          </mdb-carousel>-->

            <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false">
              <ng-template ngbSlide *ngFor="let beach of forecast_beaches; let i = index" style="border-radius: 10px;">
                <div class="picsum-img-wrapper">
                 <div class="polaroid">

                  <img src={{forecast_beaches_images[i]}} [alt]="forecast_beaches_images[i]" style="width:82em; height: 30em; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                  <div class="container">
                    <p style="font-size: 18px">{{beach.name_gr+": "+ beach.description_gr}}</p>
                    <p style="font-size: 18px">{{beach.name_eng+": "+beach.description_eng}} </p>
                  </div>
                 </div>
                </div>
<!--                <div class="carousel-caption">-->
<!--                  <h3>No mouse navigation</h3>-->
<!--                  <p>This carousel hides navigation arrows and indicators.</p>-->
<!--                </div>-->
              </ng-template>
            </ngb-carousel>

          </div>
      </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer font-small pt-1 fixed-bottom" style="background-color: #253f56;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);">
<!-- Copyright -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
        <div class="footer-copyright text-center py-1" style="font-size: 13px; color: aliceblue">
          Made With
          <!-- Heart Icon -->
          <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="#ba1c3b" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
          by Appliable!
        </div>
        <!-- Copyright -->
      </div>
      <div class="col-4">
        <div class="footer-copyright text-right py-1" style="font-size: 13px; color: aliceblue">
          Contact Us: admin@appliable.gr
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
